
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
   
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 992px) {
    .flag{
      width: 2% !important;
    }

    div{
      font-size: 2vw;
    }

    .titleInfo{
      text-align: center;
      font-size: 3vw;
    }

    .tableInfo{
      text-align: center;
      font-size: 2.5vw;
    }

    .centerButton {
      text-align: center;
    }
    .centerButton button{
      width: 25%;
    }

    div.inputs select{
      width: 100%;
    }
    div.inputs input{
      width: 100%;
    } 

    a{
      font-size: 3vw !important;
    }

    button.btn{
      font-size: 3vw !important;
    }
    /* a.btn{
      font-size: initial !important;
    } */

    td, th{
      font-size: 3vw !important;
    }

  }


  div.inputs select{
    width: 100%;
  }
  div.inputs input{
    width: 100%;
  } 

.leftBarHide{
  display: none !important;
}
.leftBarShow{
  display: block !important;
}
.hideAction{
  display: none !important;
}
.showAction{
  display: block !important;
}

.backButton{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.editButton{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.closeButton{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.acceptButton{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.createButton{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.sendButton{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1.5vw !important;
  width: 10%;
}

.cancelButton{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.ejercicioInfo{
  font-weight: bold;
}


/* body.modal-open div.modal-backdrop { 
  z-index: 0; 
} */
